<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-wrap h1 mb-0 p-3">
    <img src="../../assets/rennes_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Portions de voies en stationnement payant sur la ville de Rennes
  </a>
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngbCollapse]="isCollapsed">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link font-weight-bold" routerLink="/home" routerLinkActive="active">Accueil</a>
      <a class="nav-item nav-link font-weight-bold" routerLink="/search" routerLinkActive="active">Recherche</a>
    </div>
  </div>
</nav>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->