select:hover,
textarea:hover,
input:hover,
select:active,
textarea:active, 
input:active,
select:focus,
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    box-shadow: none !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
main { flex: 1; }
