<body>
    <header>
        <app-header></app-header>
    </header>
    <main>
        <router-outlet></router-outlet>              
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</body>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->