<footer class="bg-light">
    <hr/>
    <h4 class="text-center text-muted  p-3">Axel SOUSA - Alexis Feillu</h4>
</footer>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->