<div class="table-responsive overflow-hidden">
    <table class="table table-light table-bordered">
      <thead>
        <tr>
          <th>
            <h1>Accueil</h1>
          </th>
        </tr>
        <tr class="d-flex flex-md-wrap">
          <th>
            <h4>Le stationnement à Rennes</h4>
            <ul class="text-muted">
              <li>Le stationnement sur la voirie est payant de 9h à 12h et de 14h à 19h.</li>
              <li>Gratuit les dimanches et jours fériés.</li>
              <li>Paiement en pièces de monnaie et par carte bancaire.</li>
            </ul>
          </th>
        </tr>
        <tr>
          <th>
            <h4>Les zones tarifaires</h4>
            <div class="card-deck">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-danger">Zone rouge</h5>
                  <table class="table table-sm text-muted">
                    <thead>
                      <tr>
                        <th>
                          Durée de stationnement
                        </th>
                        <th>
                          Tarif
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>inférieure à 1h</td>
                        <td>2 €</td>
                      </tr>
                      <tr>
                        <td>comprise entre 1h et 1h25</td>
                        <td>3 €</td>
                      </tr>
                      <tr>
                        <td>comprise entre 1h25 et 4h (durée maximale)</td>
                        <td>1 € / 5 minutes</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-success">Zone verte</h5>
                  <table class="table table-sm text-muted">
                    <thead>
                      <tr>
                        <th>
                          Durée de stationnement
                        </th>
                        <th>
                          Tarif
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>inférieure à 2h45</td>
                        <td>1.09 € / heure</td>
                      </tr>
                      <tr>
                        <td>comprise entre 2h45 et 6h15 (durée maximale)</td>
                        <td>1 € / 10 minutes</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </th>
        </tr>
      </thead>
    </table>
  </div>   

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->