<div class="table-responsive">
  <table class="table table-light">
    <thead>
      <tr>
        <th>
          <h1>Recherche</h1>
          <form [formGroup]="form_data" (ngSubmit)="onSubmit(form_data.value)">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">position recherchée</span>
              </div>
              <input type="number" class="form-control" placeholder="latitude" formControlName="latitude">
              <input type="number" class="form-control" placeholder="longitude" formControlName="longitude">
              <input type="number" min="0" class="form-control" placeholder="distance" formControlName="distance">
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">zone tarifaire</span>
              </div>
              <select class="custom-select" formControlName="zone_tarifaire">
                <option value="0" selected>zone verte ou rouge</option>
                <option value="1">zone verte</option>
                <option value="2">zone rouge</option>
              </select>
              <div class="input-group-prepend ml-3">
                <span class="input-group-text" id="basic-addon3">nombre de données affichées</span>
              </div>
              <input type="number" min="1" max="6762" class="form-control" id="example-number-input" formControlName="nb_lignes">
            </div>
            <p></p>
            <button class="btn btn btn-secondary btn-block">Rechercher</button>
          </form>
        </th>
      </tr>
    </thead>
      <tbody>
          <tr>
              <td>
                <router-outlet></router-outlet>              
              </td>
          </tr>
      </tbody>
  </table>
</div>   

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->