<h1>Résultats</h1>
<div class="d-flex justify-content-center">
    <button class="btn btn btn-secondary col mr-2" (click)="navigate_to_table()">Résultats</button>
    <button class="btn btn btn-secondary col ml-2 ml-2" (click)="navigate_to_stats()">Statistiques</button>
</div>

<router-outlet></router-outlet>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->